@import (reference) './../../../../../src/shared/styles/main.less';

#view-singin-layout() {
    div.layout-top {
        display: block;
        width: 100%;
        height: @layout-top-height;

        .flex-display(flex);
        .flex-direction(column);
        .align-items(center);
        .justify-content(center);
    }

    div.layout-bottom {
        display: block;
        width: 100%;
        height: @layout-bottom-height;

        .flex-display(flex);
        .flex-direction(column);
        .align-items(center);
        .justify-content(space-between);

    }

    div.layout-floating {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(100, 100, 100, 0.5);
        top: -100vh;
        left: 0px;

        &.show {
            top: 0vh;
            left: 0px;
        }
    }
}